@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  /* Основные шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-cl: #2196F3;
  /* Темная тема фона*/
  --primary-bg--mode-dark: #191c26;
  --secondary-bg--mode-dark: #111319;
  --footer-background: #2F303A;
  --color5: #AFB1B8;
  --color3: #2196F3;
  /* animations */
  --slow-anim: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-function: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  display: none;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #212121;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container:nth-child(2),
.container:nth-child(3),
.container:nth-child(4),
.container:nth-child(5) {
  padding-bottom: 94px;
}

.hero__btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  fill: #ffffff;
  background-color: var(--accent-cl);
}
.hero__btn:hover, .hero__btn:focus {
  /* padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;*/
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-cl);
}

.hero-button {
  padding: 10px 16px;
  min-width: 200px;
  background-color: var(--accent-cl);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0;
  -webkit-box-shadow: 0px 4px 4px, rgb(0, 0, 0);
          box-shadow: 0px 4px 4px, rgb(0, 0, 0);
  border-radius: 4px;
  -webkit-transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-icon {
  margin-left: 10px;
}

.galerry-btn {
  font-family: var(--main-font);
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  text-transform: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galerry-btn:hover, .galerry-btn:focus {
  color: #ffffff;
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .social-link:hover,
.team .social-link:focus {
  fill: #ffffff;
  background-color: var(--accent-cl);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover, .social-links:focus {
  background: #2196f3;
}

.social-icons {
  fill: #ffffff;
}

.contacts {
  padding: 60px 0;
  background-color: var(--footer-background);
}

.contacts-list > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts,
.contacts-adress,
.contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.contacts-adress {
  margin-top: 20px;
}

.contacts-item {
  margin-top: 9px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}
.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.contacts-list {
  display: block;
}

.mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}
.mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu__contacts-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
  }
}

.galerry {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .galerry {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.galerry > .container > .list-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .galerry > .container > .list-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .galerry > .container > .list-btn {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .galerry > .container > .list-btn {
    margin-bottom: 50px;
  }
}

.galerry > .container > .list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .galerry > .container > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .galerry > .container > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media screen and (min-width: 1200px) {
  .galerry > .container > .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
}

.info {
  width: 100%;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.link-galerry-card {
  color: inherit;
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-galerry-card:hover, .link-galerry-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.galerry-card {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: start;
  height: 100%;
}
@media screen and (min-width: 480px) {
  .galerry-card {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .galerry-card {
    max-width: 354px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .galerry-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 370px;
    width: 100%;
  }
}

.galerry-card .img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-mode-light {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  margin-bottom: 4px;
}

.galerry-card-thumb {
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.galerry-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-galerry-card:hover .galerry-card-info,
.link-galerry-card:focus .galerry-card-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.galerry-card-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
  color: #757575;
}

/* modal form */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 581px;
  min-width: 528px;
  opacity: 1;
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-btn:focus, .modal-btn:hover {
  fill: var(--accent-cl);
}

.close {
  min-width: 18px;
  min-height: 18px;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  display: block;
  margin-top: 0em;
}

.modal-titel {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}

.modal-form {
  text-align: center;
}

.form-field {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input-container {
  position: relative;
  display: block;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  color: #212121;
  fill: currentColor;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-cl);
}

.form-comments:focus {
  outline: none;
  border-color: var(--accent-cl);
}

.form-field:focus-within .form-modal-icon {
  color: var(--accent-cl);
}

.form-field.comments {
  margin-bottom: 20px;
}

.form-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox-container {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox-icon-checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  fill: #ffffff;
  background-color: var(--accent-cl);
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon-checked {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.checkbox:focus ~ .checkbox-icon-unchecked {
  border-color: var(--accent-cl);
}

.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-label .link {
  color: var(--accent-cl);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contacts {
  padding: 60px 0;
  background-color: var(--footer-background);
}

.contacts-list > .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts,
.contacts-adress,
.contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.contacts-adress {
  margin-top: 20px;
}

.contacts-item {
  margin-top: 9px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}
.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.contacts-list {
  display: block;
}

.mobile-menu__contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}
.mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767.98px) {
  .mobile-menu__contacts-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
  }
}

.logo__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}
@media screen and (max-width: 767.98px) {
  .logo__link {
    margin-right: 274px;
  }
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo__text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-secondary {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.icon-box {
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  width: 450px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .icon-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-box {
    width: 270px;
  }
}

.icon {
  padding: 0;
  border: none;
}

@media screen and (min-width: 480px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 10px 0;
    z-index: 10;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .menu-container {
    background-color: #ffffff;
    text-align: center;
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    width: 100%;
  }
}

.mobile-button__icon:hover, .mobile-button__icon:focus {
  fill: var(--accent-cl);
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__nav {
    display: block;
    text-align: left;
    margin-bottom: 270px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__link {
    display: block;
    text-align: left;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
    text-decoration: none;
    -webkit-transition: var(--slow-anim);
    transition: var(--slow-anim);
  }
  .mobile-menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-cl);
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
    text-decoration: none;
    -webkit-transition: var(--slow-anim);
    transition: var(--slow-anim);
  }
  .mobile-menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-cl);
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu__link--current {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__link--current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    position: relative;
    color: var(--accent-cl);
  }
  .mobile-menu__link--current:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-cl);
    border-radius: 2px;
    color: #212121;
    -webkit-transition: var(--slow-anim);
    transition: var(--slow-anim);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-menu__link--current:after:hover, .mobile-menu__link--current:after:focus {
    color: var(--accent-cl);
  }
}

.mobile-menu__item {
  margin-right: 52px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__contacts-item:not(:last-child) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__contacts {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .mobile-menu__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__contacts:hover, .mobile-menu__contacts:focus {
    color: var(--accent-cl);
    fill: var(--accent-cl);
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__contacts-item {
    font-size: 34px;
    line-height: 1.176;
    color: #2196f3;
  }
}

.contacts__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-top: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .contacts__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 32px;
  }
}

.contacts__mail {
  width: 16px;
  margin-right: 10px;
  fill: #757575;
  margin-right: 8px;
}
@media screen and (max-width: 767.98px) {
  .contacts__mail {
    display: none;
  }
}

.contacts__phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
}
@media screen and (max-width: 767.98px) {
  .contacts__phone {
    display: none;
  }
}

.mobile-menu__social-link {
  color: #2196f3;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__social-item {
    margin-top: auto;
    text-align: left;
    margin-top: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__social-item {
    display: none;
  }
}

.header__container {
  position: relative;
  border-bottom: 1px solid #ececec;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__nav-port {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__contacts-port {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .mobile-menu__contacts-port {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-hero {
  max-width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-left: auto;
  position: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--footer-background);
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img-lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-lg@2x.jpg);
  }
}
@media screen and (max-width: 767.98px) {
  .hero-hero {
    max-width: 480px;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero-hero {
    max-width: 768px;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.advantages {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .advantages__list {
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
}
@media screen and (max-width: 767.98px) {
  .advantages__title {
    text-align: center;
  }
}
@media screen and (max-width: 767.98px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .advantages__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212121;
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  background-color: #ffffff;
  display: block;
  gap: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .card:not(:last-child) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) {
  .team__photo {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__photo {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__photo {
    width: 270px;
    height: 260px;
  }
}

.team-headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
}

.client {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-bottom: 94px;
  }
}

.client.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .client__title {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.link-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  height: 92px;
  border: 1px solid var(--color5);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box .item {
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients-box .item {
    max-width: 210px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .clients-box .item {
    max-width: 216px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .clients-box .item {
    max-width: 170px;
    width: 100%;
  }
}

.clients-box {
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .clients-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .clients-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.client .link-logo:hover,
.client .link-logo:focus {
  fill: var(--color3);
  border-color: var(--color3);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 480px) {
  .footer-container {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container-adress {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .container-adress {
    text-align: left;
    display: block;
    margin: 0;
  }
}

.footer-box-links {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-box-links {
    margin-bottom: 60px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-box-links {
    margin-left: 70px;
  }
}

.footer-box-links .item:not(:last-child) {
  margin-right: 10px;
}

.footer-box-links .link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--footer-background);
}

.join {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .join {
    width: 100%;
    text-align: left;
  }
}

.footer-subscribe-container {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-subscribe-container {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe-container {
    display: block;
    margin-left: auto;
  }
}

.subscribe-form {
  max-width: 450px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    max-width: 570px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}

.hidden-caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.subscribe-form-email {
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: var(--footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .subscribe-form-email {
    max-width: 450px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-form-email {
    max-width: 450px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form-email {
    width: 358px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.submit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  margin-left: 12px;
}

.text {
  display: block;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  text-decoration: none;
  -webkit-transition: var(--slow-anim);
  transition: var(--slow-anim);
}
@media screen and (min-width: 480px) {
  .nav__link {
    display: none;
  }
}
.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-cl);
}

@media screen and (min-width: 1200px) {
  .nav__link--current {
    position: relative;
    color: var(--accent-cl);
  }
  .nav__link--current:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-cl);
    border-radius: 2px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .contacts__link {
    display: none;
  }
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

.contacts__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .contacts__lists {
    display: none;
  }
}

.contacts-adress {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media screen and (min-width: 480px) {
  .about__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    display: block;
    color: #212121;
    margin: 0;
  }
}
@media screen and (min-width: 480px) and (min-width: 480px) {
  .about__title {
    display: none;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .about__title {
    display: none;
  }
}
@media screen and (min-width: 480px) and (min-width: 1200px) {
  .about__title {
    display: block;
  }
}
.about-items {
  position: relative;
  content: "";
  padding: 0;
  color: #ffffff;
  border-radius: #212121;
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.about-items:not(:last-child) {
  margin-right: 30px;
}

.about-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-text {
  position: absolute;
  content: "";
  bottom: 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
}

@media screen and (min-width: 480px) {
  .about-items {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-items {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about-items {
    display: block;
    margin-right: 0px;
  }
}/*# sourceMappingURL=main.css.map */