.hero__btn {
  font-family: var(--main-font);

  @include fonts(700, 16px, 1.87, null);
  border: none;
  cursor: pointer;
  display: inline-block;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include transition(250ms cubic-bezier(0.4, 0, 0.2, 1));

  fill: black;

  &:hover,
  &:focus {
    /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;*/
    color: #ffffff;
    cursor: pointer;
    background-color: var(--accent-cl);
    fill: #ffffff;
  }
}

.hero-button {
  padding: 10px 16px;
  min-width: 200px;
  background-color: var(--accent-cl);
  color: #fff;
  @include fonts(700, 16px, 1.87, 0.06em);

  cursor: pointer;
  border-width: 0;
  box-shadow: 0px 4px 4px, rgb(0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-icon {
  margin-left: 10px;
}

.galerry-btn {
  font-family: var(--main-font);
  color: #212121;
  background-color: #f5f4fa;
  @include fonts(500, 16px, 1.63, 0.03em);

  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  text-transform: none;
  @include transition1(250ms cubic-bezier(0.4, 0, 0.2, 1));

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
