.contacts {
  padding: 60px 0;
  background-color: var(--footer-background);
}

.contacts-list > .item {
  display: flex;
  align-items: center;
}
.contacts,
.contacts-adress,
.contacts-item {
  @include fonts(400, 14px, 1.14, 0.02em);
  color: #ffffff;
}

.contacts-adress {
  margin-top: 20px;
}
.contacts-item {
  margin-top: 9px;
}
.contacts-link {
  @include fonts(400, 14px, 1.71, null);

  color: rgba(255, 255, 255, 0.6);
  transition: var(--slow-anim);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.contacts-list {
  display: block;
}

.mobile-menu__contacts-link {
  @include fonts(500, 14px, 1.14, 0.02em);

  color: #757575;
  transition: var(--slow-anim);

  &:hover,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  @include mq(mobile-only) {
    @include fonts(500, 34px, 1.17, 0.02em);
    flex-direction: column;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
  }
  @include mq(tablet-only) {
    @include fonts(500, 12px, 1.16, 0.02em);
  }
}
