.galerry {
    padding-top: 94px;
    padding-bottom: 94px;
    
  }
  .galerry > .container > .list {
    @include mq (mobile){

    display: flex;
     justify-content: flex-start;
    row-gap: 15px;
    flex-wrap: wrap
    }

    @include mq (tablet){

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
}
  
  .galerry .list:first-of-type {
    margin-bottom: 50px;
  }
  .galerry .item:not(:last-child) {
    margin-right: 8px;
  }
 