.galerry {
    padding-top: 94px;
    padding-bottom: 94px;
    
  }
  .galerry > .container > .list {
    justify-content: center;
    margin-bottom: 30px;
    @include mq (mobile){

    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap

    }

    @include mq (tablet){

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: left;
    
  
  }
  
  @include mq (desktop){

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   gap: 30px;
    margin-bottom: 50px;

}

}


// .galerry-card:not(:nth-child(2n + 2)) {
//   @include mq(mobile){
//   margin-right: 30px;}
 

// }


// .galerry-card:not(:nth-child(3n + 3)) {
//   @include mq (desktop){
//     margin-right: 30px; }
  
//   }

  .info {
    width: 100%;
      padding: 20px 24px;
      border-right: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
  }
  
  .link-galerry-card {
    color: inherit;
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
  &:focus {
  
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
  }
  
  }
    
    
    .galerry-card {
      
      color: #212121;
      @include fonts(700, 18px, 2, 0.06em );
      
      text-align: start;
      
      height: 100%;
  
      @include mq (mobile){
      max-width: 450px;
      width: 100%
      }
  
      @include mq (tablet) {
        
      // flex-basis: calc(100% / 3);
      
      max-width: 354px;
      width: 100%;
  
  }
  @include mq (desktop) {
    // flex-basis: calc(100% / 4);
    display: flex;
    max-width: 370px;
    width: 100%;
    }
    
    }
  
    .galerry-card .img {
      display: block;
     
    }
    
    .title-mode-light {
      @include fonts(700, 18px, 2, 0.06em );
   
    color: #212121;
    margin: 0;
    margin-bottom: 4px;
    }
    .galerry-card-thumb {
      position: relative;
      overflow: hidden;
    }
      .image {
          display: block;
          max-width: 100%;
          height: auto;
        }
      
    .galerry-card-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 63px 24px;
    
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .link-galerry-card:hover .galerry-card-info,
    .link-galerry-card:focus .galerry-card-info {
      transform: translateY(0);
    }
    
    .galerry-card-info-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 1.56;
    
      color: #FFFFFF;
    }
    
    

  
  // .galerry .list:first-of-type {
  //   margin-bottom: 50px;
  // }
  // .galerry .item:not(:last-child) {
  //   margin-right: 8px;
  // }
 