.icon-box {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    align-items: center;
  
    background-color: #F5F4FA;
  }
  
  .icon {
    padding: 0;
    border: none;
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  
    border-radius: 4px;
  
  }