.logo__link {
  font-family: Raleway;
  @include fonts(700, 26px, 1.19, 0.03em);

  color: #000000;
  margin-right: 93px;

  @include mq(mobile-only) {
    margin-right: 274px;
  }
}

.logo-footer {
  font-family: Raleway;
  @include fonts(700, 26px, 1.19, 0.03em);

  color: #ffffff;
}

.logo__text {
  font-family: Raleway;
  @include fonts(700, 26px, 1.19, 0.03em);

  color: #2196f3;
}
.logo-secondary {
  font-family: var(--secondary-font);
  @include fonts(700, 26px, 1.19, 0.03em);

  color: #2196f3;
}
