/* modal form */
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop {
    position: fixed;
    z-index: 10;
   top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    @include transition2(250ms cubic-bezier(0.4, 0, 0.2, 1));
    
  
  }
  
  .modal-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
      min-height: 581px;
      min-width: 528px;
      opacity: 1;
      padding: 40px;
    }
      
  
  .modal-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  border-radius: 50%;
  background: transparent;
  background-color: inherit;
   border: 1px solid rgba(0, 0, 0, 0.1);

   &:focus,
   &:hover {
     fill: var(--accent-cl);
   }
  }
 
  .close{
    min-width: 18px;
    min-height: 18px;
    padding: 0;
    
    border: none;
    
   display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    
   
  }
  
.form {
    display: block;
    margin-top: 0em;
  }
  
  .modal-titel{
    
      margin-top: 0;
      margin-bottom: 12px;
      @include fonts(700, 20px, 1.15, null );
      
      color: #212121;
  }
  .modal-form{
    text-align: center;
  }
  .form-field {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  .form-label {
    display: inline-block;
    margin-bottom: 4px;
    @include fonts(400, 12px, 1.17, 0.01em );
    
    color: #757575;
  }
  .form-input-container {
    position: relative;
    display: block;
  }
  .form-input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    padding-left: 42px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color:#212121;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms,cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-modal-icon{
    position: absolute;
      top: 50%;
      left: 13px;
      color:#212121;
      fill: currentColor;
      transform: translateY(-50%);
      transition: var(--slow-anim);
  }
  .form-input:focus {
    outline: none;
    border-color: var(--accent-cl);
  }
  .form-comments:focus {
    outline: none;
    border-color: var(--accent-cl);
  }
  
  .form-field:focus-within .form-modal-icon {
    color: var(--accent-cl);
  }
  .form-field.comments {
    margin-bottom: 20px;
  }
  .form-comments {
    display: flex;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    color: #212121;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms,cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
  }
  .checkbox-container {
    position: relative;
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    cursor: pointer;
  }
  .checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .checkbox-icon-checked {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    fill: #FFFFFF;
    background-color: var(--accent-cl);
    transform: scale(0.2);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  
  .checkbox-icon-unchecked {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;;
    border-radius: 2px;
    transition: border-color 250ms,cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox:checked+.checkbox-icon-checked {
    transform: scale(1);
    opacity: 1;
  }
  .checkbox:focus~.checkbox-icon-unchecked {
    border-color: var(--accent-cl);
  }
  .checkbox-label {
    @include fonts(400, 14px, 1.71, null);
  
    color: #757575;
    cursor: pointer;
    user-select: none;
  }
  .checkbox-label .link {
    color: var(--accent-cl);
    text-decoration-line: underline;
  }
  
  