.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

link {
    text-decoration: none;
}
