.advantages {
  padding-top: 60px;
  @include mq(desktop) {
    padding-top: 94px;
  }
}

.advantages__list {
  display: flex;

  list-style: none;
  text-align: center;

  @include mq(mobile) {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(tablet) {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    display: flex;
    gap: 30px;
  }
}

.advantages__title {
  @include mq(mobile-only) {
    text-align: center;
  }
  @include fonts(700, 14px, 1.14, 0.03em, uppercase);

  text-align: start;
  margin-top: 0px;
  margin-bottom: 10px;

  color: #212121;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.advantages__text {
  @include fonts(400, 14px, 1.71, 0.03em);

  color: #757575;
  text-align: start;
  margin: 0;

  @include mq(mobile) {
    width: 450px;
  }

  @include mq(tablet) {
    width: 354px;
  }
  @include mq(desktop) {
    width: 270px;
  }
}
