.footer-container {
  display: flex;
  align-items: baseline;

  @include mq(mobile) {
    display: block;
    justify-content: center;
    text-align: center;
  }
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
.container-adress {
  margin-bottom: 60px;
  @include mq(desktop) {
    margin: 0;
  }
}
.footer-box-links {
  text-align: center;

  @include mq(mobile) {
    margin-bottom: 60px;
    display: block;
    text-align: center;
  }
  @include mq(tablet) {
    margin-left: 70px;
  }
}

.footer-box-links .item:not(:last-child) {
  margin-right: 10px;
}
.footer-box-links .link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--footer-background);
}
.join {
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;

  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  @include mq(desktop) {
    width: 100%;
    text-align: left;
  }
}

.footer-subscribe-container {
  text-align: center;
  @include mq(mobile) {
    display: block;
  }
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    margin-left: auto;
  }
}
.subscribe-form {
  max-width: 450px;
  width: 100%;
  display: block;

  margin-bottom: 20px;
  // @include mq(mobile) {
  //   max-width: 450px;
  //   width: 100%;
  //   display: block;

  //   margin-bottom: 20px;
  // }
  // @include mq(tablet) {
  //   max-width: 450px;
  //   width: 100%;
  //   display: block;

  //   margin-bottom: 20px;
  // }
  @include mq(desktop) {
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.hidden-caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.subscribe-form-email {
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: var(--footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(mobile) {
    max-width: 450px;
    width: 100%;
    display: block;

    margin-bottom: 20px;
  }
  @include mq(tablet) {
    max-width: 450px;
    width: 100%;
    display: block;

    margin-bottom: 20px;
  }
  // @include mq(desktop) {
  //   max-width: 358px;
  //   width: 100%;
  //   display: flex;

  //   flex-direction: row;
  // }
}

.footer-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  margin-left: 12px;
}
