.header {
  border: 1px solid #ececec;
}

.header__container {
  position: relative;
  align-items: center;
  margin-left: auto;

  justify-content: space-between;

  display: flex;
}
// .mobile-menu__nav {
//   @include mq(mobile-only) {
//     display: none;
//   }
// }
.mobile-menu__nav-port {
  @include mq(mobile-only) {
    display: none;
  }
}
.mobile-menu__contacts-port {
  @include mq(mobile-only) {
    display: none;
  }
  @include mq(tablet-only) {
    @include fonts(500, 14px, 1.14, 0.02em);
    display: flex;
    flex-direction: column;

    margin-left: auto;
    align-items: center;
    justify-content: center;
  }
}

.nav {
  display: flex;
}

.nav__item:not(:last-child) {
  @include mq(tablet) {
    margin-right: 50px;
  }
}
// .contacts__link {
//   @include mq(tablet) {
//     @include fonts(500, 14px, 1.14, 0.02em);

//     color: #757575;
//     display: flex;
//     align-items: center;

//     & {
//       display: flex;
//       align-items: center;
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       &:hover,
//       &:focus {
//         color: var(--accent-cl);
//         fill: var(--accent-cl);
//       }
//     }
//   }
// }
.contacts__item:not(:last-child) {
  @include mq(tablet) {
    margin-right: 50px;
  }
}

.contacts__list {
  @include mq(tablet) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

// .menu__link {
//   @include fonts(500, 14px, 1.14, 0.02em);

//   color: #212121;

//   display: block;

//   text-decoration: none;
//   transition: var(--slow-anim);

//   & {
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }

//   &:hover,
//   &:focus {
//     color: var(--accent-cl);
//   }
// }
