.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  @include mq (mobile){
  position: relative;
  border-bottom: 1px solid #ececec;
  align-items: center;
  margin-left: auto;

  justify-content: space-between;

  display: flex;
}

}


@media screen and (min-width: 1200px){
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
}
 
 }

.nav {
  @include mq (tablet){
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
}

.nav__item:not(:last-child) {
  @include mq (tablet){

  margin-right: 50px;
}
}

.contacts__link {
  @include mq (tablet){
  @include fonts(500, 14px, 1.14, 0.02em);

  color: #757575;
  display: flex;
  align-items: center;

  & {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-cl);
      fill: var(--accent-cl);
    }
  }
}
}

.contacts__item:not(:last-child) {
  @include mq (tablet){
  margin-right: 50px;
}

}

.contacts__list {
  @include mq (tablet){
  display: flex;
  margin-left: auto;
  align-items: center;
}

}
