.hero-hero {
  max-width: 100%;
  max-width: 1600px;

  margin-left: auto;
  margin-left: auto;

  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  align-items: center;
  text-align: center;
  background-color: var(--footer-background);
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  // background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)
  //   ),
  //   url(../images/hero.jpg);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img-sm.jpg);
  @include mq(retina) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img-sm@2x.jpg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img-md.jpg);
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/img-md@2x.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/img-lg.jpg);
    @include mq(retina) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/img-lg@2x.jpg);
    }
  }

  @include mq(mobile) {
    max-width: 480px;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @include mq(tablet-only) {
    max-width: 768px;
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-title {
  @include fonts(900, 26px, 1.62, 0.06em, uppercase);
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    @include fonts(900, 44px, 1.36, 0.06em);
  }
}
