
// .header {
  
//   border-bottom: 1px solid #ececec;
// }
// .header__container { 
//   border-bottom: 1px solid #ececec;
//   align-items: center;
//   display: flex;

// padding-left: 0;
// padding-right: 0;

// }
// .nav {
//   display: flex;
//   align-items: center;
// }
// .nav__item:not(:last-child) {
//     margin-right: 50px;
// }


.nav__link {
  @include mq (mobile){
    display: none;
    }

  @include fonts(500, 14px, 1.14, 0.02em );

color: #212121;

display: block;

text-decoration: none;
transition: var(--slow-anim);

& {
  padding-top: 32px;
  padding-bottom: 32px;
  }

  &:hover,
  &:focus {
  color:var(--accent-cl);
}
}

.nav__link--current {
  @include mq (desktop){

    position: relative;
    color: var(--accent-cl);
    
    &:after {
      position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--accent-cl);
        border-radius: 2px;
    }
  }
}

 
.contacts__link {
  @include mq (mobile) {
    display: none
  }
  @include fonts(500, 14px, 1.14, 0.02em );

color:  #757575;
display: flex;
align-items: center;


&{
  display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
  color: var(--accent-cl);
  fill: var(--accent-cl);
}

}
}


// .contacts__item:not(:last-child) {
//   margin-right: 50px;
// }

.contacts__lists {
  
  @include mq (mobile){
    display: none;
  }
display: flex;
margin-left: auto;
align-items: center;

}

// .contacts__icon {
//   padding: 0;
//   border: none;
// margin-right: 10px;
// display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 12px;
  
//   border-radius: 4px;

// }




 
  
  .contacts-adress {
    color: #FFFFFF;
    font-style: normal;
    @include fonts(400, 14px, 1.71, 0.03em );
  
  margin: 0;
  }
