.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    
  }
   
    
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    display: block;
    color: #212121;
  
    margin: 0;
    margin-bottom: 50px;
  }
  .team-card{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card  {
    background-color: #FFFFFF;
    display: block;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
      }
  }

  
  .team-list  {
    display: flex;
  }
  
  .team-headline {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
   margin-bottom: 10px;
  }
  
  .team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
   
  }
 